<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Joseph Harrison-Lim</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex justify-content-around">

    <div class="col-md-2 d-none d-lg-block"></div>
    <div class="col-sm-4 col-lg-2">
        <div class="card">
            <img class="card-img-top" src="assets/me.jpg" alt="That's Me!" />
            <div class="card-header">Joseph Harrison-Lim</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <a href="https://www.linkedin.com/in/joseph-harrison-lim/"><i class="fab fa-linkedin-in"></i></a>
                        &nbsp;
                        <a href="https://github.com/jharrilim"><i class="fab fa-github"></i></a>
                </li>
                <li class="list-group-item"><a href="https://jharrilim.github.io/The-Cyberland-Survival-Guide/">The
                        Cyberland Survival Guide</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 col-lg-6">
        <h1>Hello World</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent turpis dolor, faucibus non metus at, tempus
        lacinia ipsum. Sed est ligula, rhoncus fermentum elit in, placerat finibus ipsum. Curabitur sed augue at turpis
        imperdiet egestas id a odio. Praesent eleifend massa ac vulputate consectetur. Nulla lobortis odio quis
        pellentesque porttitor. Nulla finibus ut ligula eu dictum. Phasellus vehicula sagittis scelerisque. Mauris sed
        elit at ex auctor tempus. Nullam vitae feugiat ipsum, ac malesuada ipsum. Nam at neque et mauris dapibus
        iaculis.
        <br />
        Sed tristique massa felis. Pellentesque cursus porta odio, quis commodo enim congue dictum. Phasellus auctor
        ligula id lectus convallis, vel porta elit tristique. Aenean ut nibh bibendum, venenatis magna sed, pulvinar
        libero. Quisque sollicitudin erat et lorem ullamcorper, sit amet rhoncus ipsum sollicitudin. Curabitur
        venenatis, metus nec mattis lobortis, magna orci pharetra libero, quis rhoncus eros ipsum rutrum eros. Donec ut
        velit ex. Mauris euismod pharetra quam ultrices sollicitudin. Donec ac eleifend sapien. Aliquam tempus urna
        nunc. Aenean a faucibus velit, sed facilisis tortor.
        <br />
        Maecenas non ipsum eros. Morbi eget viverra erat, in tincidunt nibh. Vivamus finibus a dolor sit amet auctor.
        Etiam varius fermentum tellus, eu dignissim lorem rhoncus nec. Donec tellus purus, vulputate at consectetur
        quis, suscipit vel libero. Donec a arcu at elit feugiat gravida sit amet non dui. Suspendisse urna elit, dictum
        vitae massa in, malesuada convallis urna. Vivamus convallis malesuada lacus, non rhoncus lorem luctus ac.
        Suspendisse in risus vel neque fermentum varius vehicula at dolor.
        <br />
        Aenean a lectus eu metus sodales aliquet non eu felis. Donec ac dapibus nisi. Vestibulum ac lectus sed risus
        sagittis venenatis sit amet ac ipsum. Integer non magna a nisi tincidunt condimentum a sed magna. Quisque vel
        bibendum tortor, id viverra lacus. Mauris fringilla augue ut justo mattis scelerisque. Mauris vulputate pharetra
        ipsum, id consectetur nunc efficitur vehicula. Quisque suscipit nulla commodo scelerisque consectetur.
        Vestibulum egestas purus id mi viverra, in tristique tortor imperdiet.
        <br />
        Mauris viverra condimentum egestas. Donec quis turpis porta tellus imperdiet dictum. Proin consequat turpis
        hendrerit, laoreet leo sit amet, dignissim felis. Sed egestas ligula non dignissim pulvinar. Etiam finibus
        porttitor mauris, ut imperdiet nulla euismod eu. Nulla imperdiet in arcu eget mollis. Cras blandit, velit ut
        commodo mattis, massa tellus vulputate ligula, eget sollicitudin elit nibh at eros. Phasellus in lacus felis.
        Morbi vehicula auctor nisl, vitae fringilla justo suscipit nec. Nullam condimentum enim ac vehicula fringilla.
        Praesent non justo vel nulla sagittis sodales.
    </div>
    <div class="col-md-2 d-none d-lg-block"></div>
</div>
